h1 {
  text-align: center;
}

}

p2 {
  text-align: center;
}

h3 {
  text-align: left;
}
h3 {
  font-size: 30px;
}
body {
  background-color: lightgreen;
}
h1.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}
h3.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

p2.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
    }

button  {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: black;
  text-align: center;
  font-size: 25px;
  height: 100px;
  width: 194px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 7px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


button:hover span {
  padding-right: 25px;
} 
.button {
  background-color: green;
}

.button:hover {
  background-color: greenyellow;
}
.button21 {
  background-color: ;
}

.button21:hover {
  background-color: ;
}
.button20 {
  background-color: ;
}

.button20:hover {
  background-color: ;
}
.button19 {
  background-color: #ffcd50;
}

.button19:hover {
  background-color: #ffdb80;
}
.button18 {
  background-color: #aa235a;
}

.button18:hover {
  background-color: #d42b6f;
}
.button17 {
  background-color: #f2d440;
}

.button17:hover {
  background-color: #f5df70;
}
.button16 {
  background-color: #225500;
}

.button16:hover {
  background-color: #3d9900;
}
.button15 {
  background-color: #2375bb;
}

.button15:hover {
  background-color: #549ede;
}
.button14 {
  background-color: #003d8f ;
}

.button14:hover {
  background-color: #006eff;
}
.button13 {
  background-color: #cc9900;
}

.button13:hover {
  background-color: #ffc61a;
}
.button12 {
  background-color:#ffbf00 ;
}

.button12:hover {
  background-color: #ffd966;
}
.button11 {
  background-color: #ff9900;
}

.button11:hover {
  background-color: #ffc266;
}
.button10 {
  background-color: #3366cc;
}

.button10:hover {
  background-color: #5c85d6;
}
.button9 {
  background-color: #003366;
}

.button9:hover {
  background-color: #0073e6;
}
.button8 {
  background-color:  #ff9933;
}

.button8:hover {
  background-color: #ffcc99;
}
.button7 {
  background-color: #cc0000;
}

.button7:hover {
  background-color: #ff4d4d;
}
.button6 {
  background-color: #ffaa00;
}

.button6:hover {
  background-color: #ffd480;
}
.button1 {
  background-color: #ff9c6b;
}

.button1:hover {
  background-color: #ffccb3;
}
.button5 {
  background-color: #7092be;
}

.button5:hover {
  background-color: #a7bcd7;
}
.button4 {
  background-color: #cc9900;
}

.button4:hover {
  background-color: #ffcc33;
}
.button3 {
  background-color: #e6b800;
}

.button3:hover {
  background-color: #ffe066;
}

.button2 {
  background-color: #00bbe8;
}

.button2:hover {
  background-color: #66e0ff;
}
@media only screen and (max-width: 375px) {
  button {
  font-size: 37px;
  height: 200px;
  width: 304px;
      
  }
    h1.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}
    h3 {
  font-size: 60px;
}